@model IEnumerable<ToDoList.Models.ToDo>

@{
    ViewData["Title"] = "Tarefas";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Nova Tarefa</a>
</p>

<partial name="_Middle" />
<partial name="_High" />
<partial name="_Critic" />

